
button{
    background-color: coral;
    width: 100px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    bottom: 50%;
    right: 45%;
}


button:hover{
    background-color: rgb(209, 103, 65);
    cursor: pointer;
}



p {
  font-size: 25px;
  font-weight: bold;
  color: rgb(154, 52, 18);
  text-align: center;
}

