body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

img{
  border-radius: 5px;
  border: none;
}

.slider-container {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 50px auto;
}

.slider {
    display: flex;
    width: calc(600px * 4);
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 600px;
    height: 400px;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
