.green-color{
    background-color: green;
    color: white;
    padding: 10px;
}

.red-color{
    background-color: red;
    color: white;
    padding: 10px;
}

.highlight{
    background: blue;
    color: white;
    padding: 10px;
}

.active{
    color: green;
}
.disabled{
    color: red;
}

.bordered{
    border: 3px solid black;
}
.static-class{
    background-color: rgb(219, 225, 95);
    color: black;
    padding: 10px;
}

.error{
    background-color: bisque;
    color: red;
    padding: 10px;
}

.success{
    padding: 10px;
    background-color: bisque;
    color: green;
}

