
<div class="container">
    <h1> Task 1: Simple Login Form</h1>
    <form #loginForm="ngForm">
        <div class="inputDiv">
            <label for="userName">UserName</label>
            <input type="text" #uName = 'ngModel' [(ngModel)]="userName" name="userName"  required placeholder="Enter User Name">
            <span *ngIf="uName.errors?.['required'] && uName.touched">Username is required {{userName}}</span>
        </div>
        <div class="inputDiv">
            <label for="password">Password</label>
            <input type="password" #passwordError = 'ngModel' [(ngModel)]="password" name="password" required minlength="8" placeholder="Enter Password">
            <span *ngIf="passwordError.errors?.['required'] && passwordError.touched">Password is required</span>
            <span *ngIf="passwordError.errors?.['minlength']">Password shold be 8 characters</span>
        </div>
        <button type="submit" (click)="onLogin()" [disabled]="loginForm.invalid">Login</button>
    </form>
    <div class="display" *ngIf="buttonClick">
        <p > User Name : {{userName}}</p>
        <p> Password : {{password}}</p>
    </div>
</div>



