.container{
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 250px;
    background-color: aquamarine;
    padding: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 8px 3px rgba(127, 255, 212, 0.253);
}

.inputDiv{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

span{
    color: red;
}

input{
    padding: 5px;
    border: none;
    border-radius: 5px;
}

button{
    padding: 5px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid tomato;
    box-shadow: 0 1px 1px 2px rgba(255, 99, 71, 0.63);
}

button:disabled{
    background-color: rgb(70, 20, 11);
    color: white;
    cursor:not-allowed;
    border: 1px solid rgb(70, 20, 11);
    box-shadow: 0 1px 1px 2px rgba(71, 18, 9, 0.63);
}

.display{
    margin-top: 50px;
    background-color: aquamarine;
    font-size: 25px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 8px 3px rgba(127, 255, 212, 0.253);
}

