body{
    background-color: rgb(200, 173, 226);
    display: flex;
    justify-content: center;
}
#container{
    margin-top: 100px;
    padding: 20px;
    background-color: rgb(200, 236, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    border-radius: 10px;
    width: fit-content;
    height: 200px;
}

button{
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(162, 207, 162);
}

input{
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 3px;
}