<div class="container">
<button id="back"><a href="">Back</a></button>
    <form>
        <div><label for="employeeID">Employee ID</label>
            <input type="text" id="employeeID" name="employeeID" placeholder="Enter Employee ID ">
        </div>
        <div><label for="employeeName" >Employee Name</label>
            <input type="text" id="employeeName" name="employeeName" placeholder="Enter Employee Name"> 
        </div>
        <div><label for="emal">Email</label>
        <input type="text" id="email" placeholder="Enter Email ID" ></div>
        <div><label for="department">Department</label>
        <input type="text" placeholder="Enter Department Name"></div>
        <button type="submit">Submit</button>
    </form>
</div>


