<div class="container">
    <h1>Task 3: Uppercase/Lowercase Conversion</h1>
    <div class="main-content">
        <table>
            <tr>
                <th>Original UserName</th>
                <th>Uppercase</th>
                <th>Lowercase</th>
                <th>Titlecase</th>
            </tr>
            <tr>
                <td>{{ userName }}</td>
                <td>{{ userName | uppercase }}</td>
                <td>{{ userName | lowercase }}</td>
                <td>{{ userName | titlecase }}</td>
            </tr>
        </table>
        
        
    
    </div>
</div>
