<p>structure-directive-component works!</p>

<div>
    <input type="checkbox" (click)="onClick()"> Terms and Conditions
    <!-- <button *ngIf="isChecked">Submit</button> -->
     @if (isChecked){
        <button>Submit</button>
    }
</div>

<div>
    <!-- <p *ngIf="isButtonClicked">Its showed</p> -->
     @if (isButtonClicked){
        <p>Its showed</p>
     }
    <button (click)="show()">Show</button>
    <button (click)="hide()">Hide</button>
</div>
<br>
<div>
    <input type="text" [(ngModel)] = "input1"> <br><br>
    <input type="text" [(ngModel)] = "input2">
<!--     <p *ngIf="input1 !== input2">Different Values</p>
    <p *ngIf="input1 === input2">Equal Values</p> -->
    @if(input1!==input2){
        <p>Different Values</p>
    }
    @else {
        <p> Equal Values</p>
    }
</div>

