body{
    background-color: antiquewhite;
}

.container{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#listDiv{
    display: flex;
    
}

.mainDiv{
    display: flex;
    flex-direction: column;
}

#addList-div{
    display: flex;
    flex-direction: column;
    width: 600px;
    row-gap: 20px;
}

.deleteButtons{
    background-color: black;
    color: white;
}

