<div class="container">
  <form [formGroup]="form">
    <h3>Add User Form</h3>

    <div class="inputDiv">
      <input type="text" placeholder="Name" formControlName="name" />
      <span *ngIf="form.controls['name'].errors?.['required'] && form.controls['name'].touched">
        Name is required
      </span>

      <input type="email" placeholder="Email" formControlName="email" />
      <span *ngIf="form.controls['email'].errors?.['required'] && form.controls['email'].touched">
        Email is required
      </span>
      <span *ngIf="form.controls['email'].errors?.['email'] && form.controls['email'].touched">
        Invalid email format
      </span>

      <div>
        <button type="button" [disabled]="form.invalid" class="addButton" (click)="add()">Add</button>
        <button type="reset" class="resetButton">Reset</button>
      </div>

      <button type="button" class="backButton" routerLink="/crud">Back</button>
    </div>
  </form>
</div>
