<div id="container">
    <div id="main">
        <h2>Enter your login credentials</h2>
        <label for="username">UserName</label><input type="text" placeholder="Enter Username"><br>
        <label for="password">Password</label><input type="password" placeholder="Enter password"><br>
        <!-- <button routerLink = "/menu" >Menu</button> -->
        <button type="submit" (click)="login()">Login</button>
        <!-- <button type="submit" id="submitButton">Login</button> -->
    </div>
</div>

