.container{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}
.dashboard{
    font-size: 1000px;
}

#addNewEmployee{
    background-color: blue;
    color: white;
}

#displayEmployeeDetails{
    background-color: green;
    color: white;
}

.dashboard{
    font-size: 50px;
}

.buttons{
    display: flex;
    column-gap: 80px;
    
}

button{
    padding: 10px;
    width: 400px;
    font-size: 25px;
    border-radius: 10px;
}