<p>signal-component works!</p>
<div align ="center">
    <!-- <div>
        <button (click)="onIncriment()">Incriment</button>
        <button (click)="onDecriment()">Decrimnet</button>
        <p>counter : {{counter()}}</p>
    </div>

    <div>
        <p>{{count()}}</p>
    </div> -->
    <div><!-- 
        Computed Signals
        {{count()}} , {{doubleCount()}} -->
    </div>
</div>

<div>
    <h1>Question1</h1>
    <input type="radio" name="h" required = "true">Option1
    <input type="radio" name="h"> Option2 
    <input type="radio" name="h"> Option3 
    <input type="radio" name="h"> Option4
    <button type="submit">Submit</button>
</div>
<div>
  <h1>Question1</h1>
  <input type="radio" name="hs" value="1" required = "true"> Option1<br>
  <input type="radio" name="hs" value="2" required = "true"> Option2<br>
  <input type="radio" name="hs" value="3" required = "true"> Option3<br>
  <input type="radio" name="hs" value="4" required = "true"> Option4<br>
  <button type="submit">Submit </button>

  <form>
  <div>
    <h1>Question1</h1>
    <input type="radio" name="h" value="1" required> Option1<br>
    <input type="radio" name="h" value="2"> Option2<br>
    <input type="radio" name="h" value="3"> Option3<br>
    <input type="radio" name="h" value="4"> Option4<br>
    <button type="submit">Submit</button>
  </div>
</form>
</div>





