

mat-toolbar{
  background-color: cadetblue;
}

.listClass{
    margin-top: 10px;
}

.example-container {
  width: 200px;
  height: 800px;
}

.example-sidenav{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(172, 127, 127);
  
}

