

<div class="container">
    <h1>Task 1: Display Product List with Price Formatting</h1>
    <div class="product-list">
        <h2>Mobiles </h2>
        <table>
            <tr><th>BRAND</th><th>MODEL</th><th>PRICE (INR)</th><th>Price (USD)</th></tr>
            <tr><td>Samsung</td><td>S24</td><td>{{50000 | currency : 'INR'}}</td><td>{{300 |currency}}</td></tr>
            <tr><td>Samsung</td><td>S24 Plus</td><td>{{66000 | currency : 'INR'}}</td><td>{{350 |currency}}</td></tr>
            <tr><td>Samsung</td><td>S24 Ultra</td><td>{{78000 | currency : 'INR'}}</td><td>{{390 |currency}}</td></tr>
            <tr><td>Samsung</td><td>S24 FE</td><td>{{42000 | currency : 'INR'}}</td><td>{{250 |currency}}</td></tr>
            <tr><td>Samsung</td><td>S25</td><td>{{70000 | currency : 'INR'}}</td><td>{{350 |currency}}</td></tr>
            <tr><td>Samsung</td><td>S25 Plus</td><td>{{98000 | currency : 'INR'}}</td><td>{{400 |currency}}</td></tr>
            <tr><td>Samsung</td><td>S25 Ultra</td><td>{{123000 | currency : 'INR'}}</td><td>{{430 |currency}}</td></tr>
            <tr><td>Samsung</td><td>S25 FE</td><td>{{60000 | currency : 'INR'}}</td><td>{{280 |currency}}</td></tr>
        </table>
        <h2>Laptops </h2>
        <ul>
            <li>Hp Pavilion 15s : {{86000 | currency:"INR"}}</li>
            <li>Hp Pavilion 15s : {{1100 | currency:"USD"}}</li>
            <li>Dell Inspiron 15 : {{90000 | currency:"INR"}}</li>
            <li>Dell Inspiron 15 : {{1200 | currency:"USD"}}</li>
        </ul>
    </div>
</div>




