
.container {
    max-width: 500px;
    margin: 40px auto;
    background: rgb(249, 249, 249);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: rgb(74, 20, 140);
    margin-bottom: 25px;
}

form{
    
    row-gap: 20px;
}

.label-class {
    margin-top: 15px;
    margin-bottom: 5px;
    color: rgb(13, 71, 161);
    font-weight: 600;
}

.input-class {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 2px solid rgb(187, 222, 251);
    border-radius: 8px;
    outline: none;
}

.input-class:focus {
    border-color: blue;
}

.error {
    color: red;
    font-size: 13px;
    display: block;
}

#loginButton,
#resetButton {
    padding: 10px 18px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

#loginButton {
    background-color: green;
    color: white;
}

#loginButton:hover {
    background-color: rgb(0, 67, 0);
}

#resetButton {
    background-color: red;
    color: white;
}

#resetButton:hover {
    background-color: rgb(109, 0, 0);
}
