<div class="container">
  <form id="form" [formGroup]="form" (ngSubmit)="onLog()">
    <h1>Task 2: Add Validation</h1>
    <div class="input-Div">
      <label class="label-class" for="name">Name</label>
      <input class="input-class" name="name" type="text" placeholder="Enter your Name" formControlName="name">
      <span class="error" *ngIf="form.controls['name'].errors?.['required'] && form.controls['name'].touched">Name is required</span>

      <label class="label-class">Email Id</label>
      <input class="input-class" type="email" placeholder="Enter Mail ID" formControlName="email">
      <span class="error" *ngIf="form.controls['email'].errors?.['required'] && form.controls['email'].touched">Email is required</span>
      <span class="error" *ngIf="form.controls['email'].errors?.['email']">Enter correct mail</span>

      <h2>Address</h2>
      <div formGroupName="address">
        <label class="label-class">Street</label>
        <input class="input-class" type="text" placeholder="Enter your street" formControlName="street">
        <span class="error" *ngIf="form.get('address.street')?.errors?.['required'] && form.get('address.street')?.touched">Street is required</span>
        <label class="label-class">City</label>
        <input class="input-class" type="text" placeholder="Enter your city" formControlName="city">
        <span class="error" *ngIf="form.get('address.city')?.errors?.['required'] && form.get('address.city')?.touched">City is required</span>
        <label class="label-class">ZIP</label>
        <input class="input-class" type="text" placeholder="Enter your ZIP Code" formControlName="zip">
        <span class="error" *ngIf="form.get('address.zip')?.errors?.['required'] && form.get('address.zip')?.touched">zip is required</span>
        <span class="error" *ngIf="form.get('address.zip')?.errors?.['minlength']">Minimum Length is 6</span>
        <span class="error" *ngIf="form.get('address.zip')?.errors?.['maxlength']">Maximum Length is 6</span>
      </div>

      <div>
        <button id="loginButton" type="submit">Login</button>
        <button id="resetButton" type="button" (click)="reset()">Reset</button>
      </div>
    </div>
  </form>
</div>
