.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainDiv{
    background-color: gray;
    color: white;
    width: 250px;
    height: 150px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
select{
    width: 150px;
    border-radius: 5px;
    padding: 5px;
}