body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(167, 218, 218);
    width:300px;
    border-radius: 5px;
}

#register{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#name, #email{
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid aqua;
    background-color: hsla(180, 58%, 67%, 0.979);
}

label{
    font-size: 18px;
}
button{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.error{
    color: red;
    font-size: 14px;
}