<div class="container">
        
    <div >
        <form>
            <div class="main-div">
                <button class="theme-Button" #dark (click)="isDark=!isDark" (click)="toggle()">{{isDark?"Light":"Dark"}}</button>
                <div>
                    <label>Name</label>
                    <input type="text" placeholder="Name">
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" placeholder="Email">
                </div>
                    <button type="submit">Login</button>
                    <button type="button" (click)="clear()">Clear Theme</button>
                
            </div>
        </form>
    </div>
</div>

