.container{
    display: flex;
    column-gap: 20%;
}

.parent-Div{
    background-color: aqua;
    padding: 50px;
    border-radius: 10px;
    margin: 20px;
}

app-child{
    padding: 50px;
    border-radius: 10px;
    margin: 20px;
    background-color: aquamarine;
}