.main{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

#form-div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#username-div, #age-div{
    display: flex;
    flex-direction: column;
}

